* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI";
}

html {
    /* animacion suave en las animaciones */
    html {
        scroll-behavior: smooth;
    }
}

/* Variables de css*/
:root {
    --color-primary: #a68160;
    --color-secondary: #f2f2f2;
    --color-white: white;
    --color-black: black;
}

body {
    overflow-x: hidden;
    display: grid;
}


main {
    display: grid;
    max-width: 100vw;
}
/* seccion de el carrusel */
.contenedor-carrusel {
    max-width: 100vw;
    position: relative;
    height: 600px;
    overflow: hidden;

    /* contenedor de las imagenes del carrusel */
    .carrusel {
        padding: 4em 0;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease-in-out;

        /* carta de cada elemento del carrusel */
        .elemento-carrusel {
            position: relative;
            width: 55vw;
            height: 28em;
            background-size: cover;
            background-position: center;
            color: var(--color-white);
            border-radius: 0.7em;
            overflow: hidden;
            transition: all 0.5s ease;
            transform: scale(0.85);
            opacity: 0.7;
            display: flex;
            align-items: end;
            justify-content: center;
            box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);

            .contenido-elemento {
                background: linear-gradient(180deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 10%,
                        rgba(0, 0, 0, 0.8) 30%,
                        black 50%);
                position: relative;
                z-index: 2;
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 1em;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding: 1.1em;
                width: 100%;

                .imagen-perfil {
                    border-radius: 100%;
                    height: 10em;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    object-fit: cover;
                    background-color: var(--color-white);
                    height: 8em;
                    width: 8em;

                    img {
                        height: 10em;
                        width: 10em;
                        object-fit: contain;
                    }
                }

                .informacion-establecimiento {
                    width: 100%;
                    display: grid;
                    text-align: left;

                    .titulo-establecimiento {
                        font-size: 1.5em;
                        margin-bottom: 0.8em;
                        text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
                    }

                    .descripcion-establecimiento {
                        font-size: 0.8em;
                        margin-bottom: 0.9em;
                        line-height: 1.4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .boton-agendar {
                        display: flex;
                        align-items: center;
                        background: var(--color-white);
                        width: 9em;
                        height: 3em;
                        border: none;
                        border-radius: 3.5em;
                        font-size: 1.2em;
                        font-weight: bold;
                        color: var(--color-primary);
                        cursor: pointer;
                        box-shadow: 0.1em 1.5em 0.2em rgba(0, 0, 0, 0.2);
                        outline: none;
                        transition: 0.3s;

                        .icono {
                            width: 3.5em;
                            height: 3.5em;
                            background: var(--color-primary);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 0.8em;

                            img {
                                width: 60%;
                                height: 60%;
                            }
                        }
                    }
                }
            }

            .contenido-elemento {
                background: linear-gradient(180deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 10%,
                        rgba(0, 0, 0, 0.8) 30%,
                        black 50%);
                position: relative;
                z-index: 2;
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 1em;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding: 20px;

                .imagen-perfil {
                    border-radius: 100%;
                    height: 10em;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    object-fit: cover;
                    background-color: var(--color-white);
                    height: 8em;
                    width: 8em;

                    img {
                        height: 10em;
                        width: 10em;
                        object-fit: contain;
                    }
                }

                .informacion-establecimiento {
                    width: 100%;
                    display: grid;
                    text-align: left;

                    .titulo-establecimiento {
                        font-size: 1.5rem;
                        margin-bottom: 10px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }

                    .descripcion-establecimiento {
                        font-size: 0.8rem;
                        margin-bottom: 15px;
                        line-height: 1.4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .boton-agendar {
                        display: flex;
                        align-items: center;
                        background: var(--color-white);
                        width: 9em;
                        height: 45px;
                        border: none;
                        border-radius: 50px;
                        font-size: 20px;
                        font-weight: bold;
                        color: var(--color-primary);
                        cursor: pointer;
                        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
                        outline: none;
                        transition: 0.3s;

                        .icono {
                            width: 50px;
                            height: 50px;
                            background: var(--color-primary);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;

                            img {
                                width: 60%;
                                height: 60%;
                            }
                        }
                    }
                }
            }

            .imagen-perfil {
                height: 8em;
                width: 8em;
            }

            .etiquet-categoria {
                position: absolute;
                top: 0;
                right: 0;
                background: rgb(0, 0, 0);
                background: linear-gradient(90deg,
                        rgba(0, 0, 0, 0) 4%,
                        rgba(0, 0, 0, 0.3477766106442577) 10%,
                        rgba(0, 0, 0, 1) 20%,
                        rgba(0, 0, 0, 1) 39%);
                padding: 0.2em 2.5em;
                font-weight: bold;
                z-index: 2;
                font-size: 1.1em;
            }
        }
    }

    /*inicio clases para ejecutar animaciones y cambios en el carrusel */
    .elemento-carrusel::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .elemento-carrusel.activo {
        transform: scale(1.1);
        opacity: 1;
        z-index: 10;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }

    .elemento-carrusel.activo .imagen-perfil {
        height: 10em;
        width: 10em;
    }

    .elemento-carrusel.activo .titulo-establecimiento {
        font-size: 2rem;
    }

    .elemento-carrusel.activo .descripcion-establecimiento {
        font-size: 0.9rem;
        line-clamp: 4;
    }

    /*fin clases para ejecutar animaciones y cambios en el carrusel */

    /*inicio botones de el carrusel */
    .boton-agendar:hover {
        background: var(--color-primary);
        color: var(--color-white);
    }

    .boton-navegacion {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: var(--color-primary);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 20;
        transition: background-color 0.3s;
    }

    .boton-navegacion:hover {
        background-color: var(--color-primary);
    }

    .boton-anterior {
        left: 20px;
    }

    .boton-siguiente{
        right: 20px;
    }

    /*fin botones de el carrusel */
}

.establecimientos-recomendados {
    max-width: 100vw;
    padding: 3em;
    gap: 2em;
    display: grid;
    justify-content: center;

    .titulo-seccion {
        text-align: center;
        font-size: 1.7em;
    }

    .contenedor-establecimientos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        justify-content: center;

        .carta-establecimiento {
            width: 20em;
            border: 2px solid var(--color-primary);
            border-radius: 0.8em;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            color: var(--color-black);
            position: relative;
            justify-content: space-between;
            height: 100%;

            img {
                width: 100%;
                height: 14em;
                object-fit: cover;
                margin-bottom: -0.5em;
            }

            .contenedor-informacion {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 0.5em 0.5em 0 0.5em;
                border-top: 2px solid var(--color-primary);
                background-color: var(--color-white);

                /* Hace que la información crezca ocupando el espacio disponible */
                .informacion {
                    display: grid;
                    flex-grow: 1;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    background-color: var(--color-white);

                    .nombre-descripcion {
                        height: 100%;
                        font-weight: bold;
                        font-size: 0.9em;
                        position: relative;
                        overflow: hidden;
                        /* Oculta el contenido extra */
                        max-width: 8em;
                        max-height: 10em;

                        h2 {
                            max-width: 100%;
                            overflow-wrap: break-word;
                            word-break: break-word;
                            white-space: normal;
                            position: relative;
                            font-weight: bold;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            transition: opacity 0.3s ease-in-out;

                        }

                        p {
                            position: relative;
                            font-weight: normal;
                            font-size: 1em;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }

                    .servicios {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-left: 1em;
                        border-left: 2px solid #a67c52;
                        font-size: 1em;

                        ul {
                            position: relative;
                            font-weight: normal;
                            font-size: 0.9em;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            transition: opacity 0.3s ease-in-out;

                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                font-size: 1em;
                            }
                        }

                        .puntuacion {
                            margin-top: auto;
                            /* Empuja la puntuación al fondo */
                            font-size: 1.7em;
                            color: var(--color-primary);
                        }
                    }
                }

                .contenedor-boton-agendar {
                    margin-top: auto;
                    text-align: center;
                    padding: 0.5em;
                }

                .boton-agendar {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    padding: 0.2em 1em;
                    border: none;
                    border-radius: 5px;
                    font-size: 1em;
                    font-weight: bold;
                    cursor: pointer;
                }

                .boton-agendar:hover {
                    background-color: var(--color-primary);
                }
            }
        }
    }
}

.establecimientos-destacados {
    padding: 5em 3em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    max-width: 100vw;

    .titulo-seccion {
        text-align: center;
        font-size: 1.7em;
    }

    .contenedor-imagenes-destacado {
        /* Contenedor de tarjetas */
        grid-template-columns: 1fr 1fr 1fr;
        /* 3 columnas */
        display: grid;
        padding-top: 3em;
        gap: 2em;
        justify-content: center;
        align-items: flex-end;
    }

    .card-destacado {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
        width: 20em;
        height: 300px;
        border-radius: 0.7em;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        background: var(--color-white);
        border: 2px solid var(--color-primary);
    }

    .card-destacado:nth-child(2) {
        transform: translateY(-45px);
        /* Sube la tarjeta del medio */
    }

    .card-destacado img.destacado-imagen {
        /* Imagen dentro de la tarjeta */
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ajusta la imagen */
        display: block;
        /* Elimina espacio extra */
        border-radius: 0.7em 0.7em 0 0;
    }

    .nombre-posicion {
        /* Texto dentro de la tarjeta */
        background: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        gap: 0.5em;
        border-radius: 0 0 0.4em 0.4em;
    }

    .nombre-posicion h4 {
        /* Nombre del establecimiento */
        margin: 0;
        font-size: 1.4em;
        font-weight: bold;
        color: var(--color-secondary);
        -webkit-line-clamp: 1;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;


    }

    .nombre-posicion img {
        /* Icono de posición */
        width: 2em;
        height: auto;
    }

    /* Efecto al pasar el mouse */
    .card-destacado:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    }
}


/* Ajustes para tablets grandes y portatiles */
@media (max-width: 1224px) {
    main {
        gap: 0em;
    }

    .contenedor-carrusel {
        .carrusel {
            padding: 3em 0;
        }
    }

    .establecimientos-recomendados {
        .contenedor-establecimientos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3em;
            align-items: center;
            justify-content: center;

            .carta-establecimiento {
                max-width: 19em;
            }

            .servicios {
                .puntuacion {
                    font-size: 1.5em;
                }
            }
        }

        .contenedor-boton-agendar {
            margin-top: auto;
            /* Empuja el botón al fondo */
            text-align: center;
            padding: 0.5em;
        }

        .boton-agendar {
            padding: 0.2em 1em;
            border-radius: 5px;
            font-size: 1em;

        }
    }

    .establecimientos-destacados {
        gap: 2em;
        padding: 2em 3em;

        .titulo-seccion {
            font-size: 1.7em;
        }

        .card-destacado {
            max-width: 18em;
            /* Mantiene tamaño */
            height: 300px;
        }

        .contenedor-imagenes-destacado {
            grid-template-columns: repeat(2, 1fr);
            /* 2 columnas */
            grid-template-rows: auto auto;
            /* Dos filas automáticas */
            padding-top: 3em;
            gap: 2em;
            justify-content: center;

            .card-destacado {
                width: 21em;
                height: 300px;
            }
        }

        .card-destacado:nth-child(2) {
            grid-column: span 2;
            /* Ocupa las 2 columnas */
            grid-row: 1;
            /* Se mantiene en la primera fila */
            justify-self: center;
            /* Centrar horizontalmente */
            align-self: center;
            /* Centrar verticalmente */
            transform: translateY(0px);
            /* Vuelve a la posición original */
        }

        .card-destacado:nth-child(1) {
            grid-column: 1;
            /* Primera columna */
            grid-row: 2;
            /* Segunda fila */
            justify-self: flex-end;
            /* derecha */
        }

        .card-destacado:nth-child(3) {
            grid-column: 2;
            /* Segunda columna */
            grid-row: 2;
            /* Segunda fila */
            justify-self: flex-start;
            /* izquierda */
        }
    }

}

/* Ajustes para móviles medianos y tablets pequeñas */
@media (max-width: 750px) {
    main {
        gap: 0em;
    }

    .contenedor-carrusel {
        .carrusel {
            padding: 3em 0;

            .elemento-carrusel {
                .contenido-elemento {
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 1.1em;
                    grid-template-areas:
                        "imagen"
                        "texto";

                    .imagen-perfil {
                        grid-area: imagen;
                        height: 9em;
                        height: 8em;
                        width: 8em;

                        img {
                            grid-area: texto;
                            height: 8em;
                            width: 8em;
                        }
                    }
                }

                .imagen-perfil {
                    height: 8em;
                    width: 8em;
                }
            }
        }
    }

    .establecimientos-recomendados {
        .contenedor-establecimientos {
            display: flex;
            flex-direction: column;
            gap: 3em;

            .carta-establecimiento {
                max-width: 18em;

                .contenedor-informacion {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    .informacion {
                        display: grid;
                        flex-grow: 1;
                        grid-template-columns: 1fr 1fr;
                        gap: 0.7em;

                        .nombre-descripcion {
                            font-size: 0.9em;

                            h2 {
                                -webkit-line-clamp: 2;
                            }

                            p {
                                font-size: 1em;
                                -webkit-line-clamp: 3;
                            }
                        }

                        .servicios {
                            ul {
                                -webkit-line-clamp: 3;

                                li {
                                    font-size: 1em;
                                }
                            }

                            .puntuacion {
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }
        }
    }

    .establecimientos-destacados {
        gap: 2em;
        padding: 2em 3em;

        .titulo-seccion {
            font-size: 1.7em;
        }

        .contenedor-imagenes-destacado {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3em;
            gap: 2em;
        }

        .card-destacado {
            /* Ocupan todo el ancho disponible */
            max-width: 18em;

            /* Mantiene tamaño */
            height: 300px;
        }

        .card-destacado:nth-child(1) {
            order: 2;
            /* El primer hijo pasa a ser el segundo */
        }

        .card-destacado:nth-child(2) {
            transform: translateY(0px);
            /* Sube la tarjeta del medio */
            order: 1;
        }

        .card-destacado:nth-child(3) {
            order: 3;
            /* El primer hijo pasa a ser el segundo */
        }

        .card-destacado:hover {
            /* Efecto al pasar el mouse */
            transform: scale(1.05) translateY(-5px);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        }
    }

}

/* Ajustes para móviles pequeños */
@media (max-width: 480px) {
    main {
        display: grid;
        gap: 1em;
    }

    .contenedor-carrusel {
        .carrusel {
            padding: 2.5em 0em 0em 0em;

            .elemento-carrusel {
                width: 100%;

                .contenido-elemento {
                    padding: 1em;

                    .imagen-perfil {
                        height: 7em;
                        width: 7em;

                        img {
                            height: 7em;
                            width: 7em;
                        }
                    }
                }

                .imagen-perfil {
                    height: 8em;
                    width: 8em;
                }
            }
        }
    }

    .establecimientos-recomendados {
        padding: 1em;

        .titulo-seccion {
            font-size: 1.4em;
        }

        .contenedor-establecimientos {
            gap: 2em;

            .carta-establecimiento {
                max-width: 16em;

                .contenedor-informacion {

                    /* Hace que la información crezca ocupando el espacio disponible */
                    .informacion {
                        .nombre-descripcion {
                            font-size: 0.9em;

                            h2 {
                                font-size: 1.2em;
                            }

                            p {
                                font-size: 0.9em;
                                -webkit-line-clamp: 3;
                            }
                        }

                        .servicios {
                            h3 {
                                font-size: 1.2em;
                            }

                            ul {
                                -webkit-line-clamp: 3;

                                li {
                                    font-size: 0.9em;
                                }
                            }

                            .puntuacion {
                                margin-top: auto;
                                /* Empuja la puntuación al fondo */
                                font-size: 1.3em;
                                color: var(--color-primary);
                            }
                        }
                    }

                    .contenedor-boton-agendar {
                        margin-top: auto;
                        /* Empuja el botón al fondo */

                        text-align: center;
                        padding: 0.5em;
                    }

                    .boton-agendar {
                        background-color: #a67c52;
                        color: white;
                        padding: 0.2em 1em;
                        border: none;
                        border-radius: 5px;
                        font-size: 1em;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .boton-agendar:hover {
                        background-color: #8b5e34;
                    }
                }
            }
        }
    }

    .establecimientos-destacados {
        .titulo-seccion {
            font-size: 1.4em;
        }

        .contenedor-imagenes-destacado {
            padding-top: 0em;
        }

        .card-destacado {
            max-width: 16em;
            height: 250px;
        }
    }
}