* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI";
}

html {
  html {
    scroll-behavior: smooth;
  }
}

/* Variables de css*/
:root {
  --color-primary: #a68160;
  --color-secondary: #f2f2f2;
  --color-white: white;
  --color-black: black;
}

body {
  height: 100vh;
}

main {
  display: flex;
  gap: 20px;
  padding: 1em 3em;

  .contenedor-bandeja {
    width: 100%;
    border-radius: 0.8em;
    overflow: hidden;
    flex: 1;
    z-index: 100;
    /* Ocupa el espacio disponible */
    max-width: 25vw;
    min-height: 60vh;
    /* Altura mínima */
    max-height: 80vh;

    /* Para que no se expanda demasiado */
    /* Encabezado de la bandeja */
    .encabezado-bandeja {
      background-color: var(--color-primary);
      color: var(--color-white);
      padding: 0.8em;
      font-weight: bold;
      text-align: center;
      font-size: clamp(1em, 1.1vw, 3em);
      letter-spacing: 0.5px;
    }

    /* Contenido con scroll */
    .contenido-bandeja {
      padding: 0.7em;
      height: 70.9vh;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      overflow-y: auto;
      border-left: 2px solid var(--color-primary);
      border-right: 2px solid var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
      border-radius: 0 0 0.7em 0.7em;
      background-color: var(--color-secondary);

      /* Elemento individual */
      .elemento-bandeja {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        border-radius: 0.4em;
        max-height: 10vh;

        /* Contenedor de fecha */
        .contenedor-fecha {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          margin-right: 0.7em;
          padding: 0.4em 0.7em;
          font-size: clamp(.6em, 1.2vw, 3em);
          border-right: 1px solid var(--color-black);

          /* Número de fecha */
          .numero-fecha {
            font-weight: bold;

          }

          /* Mes de fecha */
          .mes-fecha {
            font-size: 0.9em;
          }
        }

        /* Texto de la solicitud */
        .texto-solicitud {
          flex: 1;
          font-size: clamp(.4em, 1.2vw, 3em);
          font-weight: 600;
        }

        .contenedor-icono {
          margin-right: clamp(.2em, 1vw, 3em);
          margin-left: clamp(.2em, .1vw, 3em);
          position: relative;
        }

        /* Sobre cerrado */
        .sobre {
          border-radius: 0.1em;
          position: relative;
          font-size: clamp(.8em, 1.7vw, 3em);
          color: #a68160;
          /* Color para estado pendiente */
        }
      }

      /* Elemento leído */
      .elemento_leido {
        background-color: var(--color-primary);
        color: white;
        border: 1px solid var(--color-primary);

        .contenedor-fecha {
          border-color: var(--color-white);
        }

        .sobre {
          color: var(--color-white);
        }
      }

      /* Estilos para la barra de desplazamiento */
      .contenido-bandeja::-webkit-scrollbar {
        width: 6px;
      }

      .contenido-bandeja::-webkit-scrollbar-track {
        background: #e6d2b5;
      }

      .contenido-bandeja::-webkit-scrollbar-thumb {
        background-color: #b08968;
        border-radius: 6px;
      }
    }
  }

  .contenedor-administrador {
    height: 100%;
    flex: 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: 1r 9fr;
    gap: 1em;

    & .navegacion {
      width: 100%;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;

      & button {
        padding: 0.4em 0;
        width: 100%;
        font-size: clamp(1em, 1.2vw, 3em);
        font-weight: bold;
        color: var(--color-primary);
        width: 100%;
        border: 2px solid var(--color-primary);
        border-radius: 0.5em;
        background-color: var(--color-white);
      }

      & button:hover,
      & button.active {
        color: var(--color-white);
        border-color: var(--color-primary);
        background-color: var(--color-primary);
        transition: background 0.2s ease-in-out;
      }
    }

    & .secciones {
      display: grid;
      grid-template-rows: repeat(auto-fit, minmax(20em, 1fr));
      max-height: 28em;
      min-height: 28em;

      & .seccion-opcion {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        height: 70vh;


        & .agregar,
        & .ver-todos {
          background-color: var(--color-white);
          border: 2px solid var(--color-primary);
          display: grid;
          grid-template-columns: 1fr;
          height: 100%;
          border-radius: 0.5em;
          height: 70vh;


          button {
            display: grid;
            grid-template-rows: 9fr 1fr;
            height: 100%;
            border: none;
            color: var(--color-primary);
            font-size: clamp(.7em, 1.2vw, 3em);
            font-weight: bold;

            i {
              font-size: clamp(5em, 3vw, 5em);
              display: flex;
              align-items: center;
              justify-content: center;
            }

            p {
              font-size: 1.5em;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        & .carta {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 4fr 1fr 2fr 1fr;
          justify-content: space-between;
          background-color: var(--color-secondary);
          border: 2px solid var(--color-primary);
          border-radius: 0.4em;
          height: 70vh;
          padding: 0.5em;
          gap: 0.2em;
          position: relative;
          font-size: clamp(.8em, 1.2vw, 3em);



          #foto-staff{
            height: 50vh;
          }

          & .carta-imagen {
            width: 100%;
            height: 40vh;
            position: relative;
            display: grid;
            

            & img {
              border-radius: 0.4em;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border: 2px solid var(--color-primary);
            }

            .stock {
              position: absolute;
              top: 0px;
              right: 0px;
              background-color: var(--color-primary);
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
            }

            .precio {
              position: absolute;
              bottom: 0px;
              width: 100%;
              background-color: rgba(255, 255, 255, 0.342);
              color: var(--color-primary);
              font-weight: bold;
              padding: .2em 0;
              text-align: center;
              border-radius: .3em;
            }

            .rol {
              position: absolute;
              top: 0px;
              right: 0px;
              background-color: var(--color-primary);
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }

          & h3 {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          & p {
            font-size: 1em;
            font-weight: 500;
          }


          & .contenedor-botones {
            width: 100%;
            justify-content: center;
            align-items: end;
            align-self: end; /* Se alinea al final */
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr;

            & form {

              & .boton {
                width: 100%;
                border: 2px solid var(--color-primary);
                background-color: var(--color-primary);
                padding: 0.2em 0;
                border-radius: 0.4em;
                color: var(--color-secondary);
                font-weight: bold;
                font-size: 1.1em;
              }

              & .boton:hover {
                border-color: var(--color-primary);
                background-color: var(--color-secondary);
                padding: 0.2em 0;
                border-radius: 0.4em;
                color: var(--color-primary);

              }
            }
          }
        }

        & #carta-staff{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 4fr 1fr 1fr;

        }
      }

      & .inicio {
        width: 100%;
        text-align: center;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vh;

        & .portada {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          & .imagen-portada {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        & .foto-imagen-perfil {
          position: absolute;
          bottom: 20px;
          width: 15vw;
          height: 30vh;
          border-radius: 50%;
          border: 1px solid var(--color-secondary);
          background: var(--color-secondary);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          object-fit: cover;
        }

        & .boton-editar {
          position: absolute;
          background: #fff;
          border: none;
          padding: 6px;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.3);
          }
        }

        & .editar-perfil-establecimiento {
          bottom: 20px;
          transform: scale(1.2);
        }

        & .editar-portada {
          right: 10px;
          top: 10px;
        }

        & .descripcion {
          font-weight: bold;
          padding: 12px;
          background: var(--color-secondary);
          color: var(--color-black);
          width: 100%;
          text-align: center;
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: clamp(.7em, 1.2vw, 3em);

        }
      }
    }
  }

  .contenedor-notificacion {
    height: 70vh;

    .carta-notificaion {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 70vh;
      border: 2px solid var(--color-primary);
      border-radius: .4em;
    }

    .contenedor-izquierda {
      position: relative;
      /* Necesario para posicionar el texto */
      display: flex;
      justify-content: center;
      align-items: flex-end;
      /* Asegura que el texto quede abajo */
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;
      /* Evita que el contenido se desborde */
      border-radius: 0.3em 0 0 0.3em;
      /* Esquinas suaves */


      h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* Fondo semitransparente */
        color: white;
        /* Texto en blanco */
        text-align: center;
        font-weight: bold;
        padding: 0.8em 0;
        font-size: 1.2em;
      }
    }

    .contenedor-derecha {

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      gap: 10px;
      padding: 1em;

      .foto-nombre {
        grid-column: span 2;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 4em;
          height: 4em;
          object-fit: cover;
          border-radius: 100%;
        }

        .requisito {
          font-weight: bold;
        }
      }

      .contenedor-requisito {
        display: flex;
        flex-direction: column;

        .requisito {
          font-weight: bold;
        }
      }

      & .contenedor-botones {
        grid-column: span 2;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;

        & form {

          & .boton {
            width: 100%;
            border: 2px solid var(--color-primary);
            background-color: var(--color-primary);
            padding: 0.2em 0;
            border-radius: 0.4em;
            color: var(--color-secondary);
            font-weight: bold;
            font-size: 1.1em;
          }

          & .boton:hover {
            border-color: var(--color-primary);
            background-color: var(--color-secondary);
            padding: 0.2em 0;
            border-radius: 0.4em;
            color: var(--color-primary);

          }
        }
      }
    }
  }





}


.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #333;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

/* Media query para hacerla responsive */
@media (max-width: 1024px) {
  .contenedor-bandeja {
    transform: translateX(-200%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    min-width: 50vw;
  }

  .menu-btn {
    display: block;
  }

  .contenedor-bandeja.mostrar {
    transform: translateX(0);
  }

  .contenedor-administrador {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main {
    padding: 1em;
    .contenedor-administrador {
      height: 100%;
      flex: 2;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-template-rows: 1r 9fr;
      gap: 1em;
      height: 100%;

  
      & .navegacion {
        width: 100%;
        display: grid;
        gap: .4em;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
  
        & button {
          padding: 0.4em 0;
          width: 100%;
          font-size: .9em;
          font-weight: bold;
          color: var(--color-primary);
          width: 100%;
          border: 2px solid var(--color-primary);
          border-radius: 0.5em;
          background-color: var(--color-white);
        }
  
        & button:hover,
        & button.active {
          color: var(--color-white);
          border-color: var(--color-primary);
          background-color: var(--color-primary);
          transition: background 0.2s ease-in-out;
        }
      }
  
      & .secciones {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(20em, 1fr));
        max-height: 100%;
        min-height: 28em;
  
        & .seccion-opcion {
          display: grid;
          gap: 1em;
          grid-template-columns: 1fr;
          grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
          height: 100%;
  
          & .agregar,
          & .ver-todos {
            background-color: var(--color-white);
            border: 2px solid var(--color-primary);
            display: grid;
            grid-template-columns: 1fr;
            height: 100%;
            border-radius: 0.5em;
            height: 50vh;
  
  
            button {
              display: grid;
              grid-template-rows: 9fr 1fr;
              height: 100%;
              border: none;
              color: var(--color-primary);
              font-size: clamp(.7em, 1.2vw, 3em);
              font-weight: bold;
  
              i {
                font-size: clamp(5em, 3vw, 5em);
                display: flex;
                align-items: center;
                justify-content: center;
              }
  
              p {
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
  
          & .carta {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr 2fr 1fr;
            justify-content: space-between;
            background-color: var(--color-secondary);
            border: 2px solid var(--color-primary);
            border-radius: 0.4em;
            height: 50vh;
            padding: 0.5em;
            gap: 0.2em;
            position: relative;
            font-size: clamp(.8em, 1.2vw, 3em);
  
  
  
  
            & .carta-imagen {
              width: 100%;
              height: 23vh;
              position: relative;
  
              & img {
                border-radius: 0.4em;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 2px solid var(--color-primary);
              }
  
              .stock {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: var(--color-primary);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
              }
  
              .precio {
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.342);
                color: var(--color-primary);
                font-weight: bold;
                padding: .2em 0;
                text-align: center;
                border-radius: .3em;
              }
  
              .rol {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: var(--color-primary);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
              }
            }
  
            & h3 {
              display: flex;
              justify-content: center;
              align-items: center;
            }
  
            & p {
              font-size: 1em;
              font-weight: 500;
            }
  
  
            & .contenedor-botones {
              width: 100%;
              justify-content: center;
              align-items: end;
              display: grid;
              gap: 1em;
              padding-top: .5em;
              grid-template-columns: 1fr 1fr;
  
              & form {
  
                & .boton {
                  width: 100%;
                  border: 2px solid var(--color-primary);
                  background-color: var(--color-primary);
                  padding: 0.2em 0;
                  border-radius: 0.4em;
                  color: var(--color-secondary);
                  font-weight: bold;
                  font-size: 1.1em;
                }
  
                & .boton:hover {
                  border-color: var(--color-primary);
                  background-color: var(--color-secondary);
                  padding: 0.2em 0;
                  border-radius: 0.4em;
                  color: var(--color-primary);
  
                }
              }
            }
          }
  
  
        }
  
        & .inicio {
          width: 100%;
          text-align: center;
          border: 2px solid var(--color-primary);
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          & .portada {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
  
            & .imagen-portada {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          & .foto-imagen-perfil {
            position: absolute;
            bottom: 20px;
            width: 35vw;
            height: 30vh;
            border-radius: 100%;
            border: 1px solid var(--color-secondary);
            background: var(--color-secondary);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            object-fit: cover;
          }
  
          & .boton-editar {
            position: absolute;
            background: #fff;
            border: none;
            padding: 6px;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
  
            &:hover {
              transform: scale(1.3);
            }
          }
  
          & .editar-perfil-establecimiento {
            bottom: 20px;
            transform: scale(1.2);
          }
  
          & .editar-portada {
            right: 10px;
            top: 10px;
          }
  
          & .descripcion {
            font-weight: bold;
            padding: 12px;
            background: var(--color-secondary);
            color: var(--color-black);
            width: 100%;
            text-align: center;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(.7em, 1.2vw, 3em);
  
          }
        }
      }
    }
  }
  
}